<p><strong>Notifications</strong></p><br>
<ul id="notifications">
</ul>
<hr>
<form class="notification-form" action="/create_random_broadcast_notification" method="post">
  <button type="submit">Create random broadcast notification</button>
</form>
<hr>
<form class="notification-form" action="/create_random_user_notification" method="post">
  <button type="submit">Create random user-specific notification</button>
</form>
